<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/5b0f2f99-c7c3-4432-98b6-0929b0421833/resourcegroups/m2i/providers/Microsoft.Web/sites/WebApplication1780</ResourceId>
    <ResourceGroup>m2i</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapplication1780.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>74f18312-e7ed-4a05-ad66-74d16ebff1f3</ProjectGuid>
    <PublishUrl>https://webapplication1780.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WebApplication1780</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>